flow.json
[{"id":"3df8a9cc.e77c46","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3e751b55.76bfa4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fd02690f.ef6eb8","type":"inject","z":"3df8a9cc.e77c46","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["dcf2a653.6925c8","6882dcc7.1794f4"]]},{"id":"dcf2a653.6925c8","type":"debug","z":"3df8a9cc.e77c46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":100,"wires":[]},{"id":"512de28.3b5a81c","type":"catch","z":"3e751b55.76bfa4","name":"","scope":null,"x":340,"y":320,"wires":[[]]},{"id":"b055f648.c3f468","type":"status","z":"3e751b55.76bfa4","name":"","scope":null,"x":540,"y":160,"wires":[[]]},{"id":"6882dcc7.1794f4","type":"debug","z":"3df8a9cc.e77c46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":240,"wires":[]}]